<html>
<head></head>
<body>
	<header>
		{{title}}
		<ul>
			<li>Name: {{queens.name}}</li>
			<li>Location: {{queens.borough}}</li>
			<li>Cuisine: {{queens.cuisine}}</li>
			<li>Building#: {{queens.address.building}}</li>
			<li>Street#: {{queens.address.street}}</li>
			<li>Zipcode: {{queens.address.zipcode}}</li>
	</header>
	<main>
		{{> nav}}
		 <h1>Blog! {{> myPartial}}</h1>
 
{{#each entries}}
    <p>
        <a href="/article/{{id}}">{{title}}</a><br/>
        Published: {{published}}
    </p>
{{/each}}
	</main>
	<footer>
		
	</footer>
</body>
</html>